*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face{
    font-family: LondonBetween ;
    src: url(LondonBetween.ttf);
   



}

/*INTRODUCCIÓN A LA PÁGINA*/


#header_animation{
    display: flex;
    width: 100%;
    height: 700px;
    flex-direction: row;
    justify-content: center;
    background-color:#101822 ;
    cursor: pointer;
   
    
}


.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    font-size: 50px;
    font-family: LondonBetween;
}

.titulo h1,h2{
    font-family: LondonBetween;
    color:#f1e2d1 ;
    letter-spacing: 5px;
    text-align: center;
    
    
}


/*pagina web, navegador principal*/




#header_estatico{
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: row;
    background-color:#101822;
    display: none; 
}

#navegador{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logotipo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;
}

#logotipo img{
    width: 30%;
}

#navegador #menu{
    font-family: LondonBetween;
    letter-spacing: 5px;
    color: #f1e2d1;
    

}

#navegador #menu a{
    text-decoration-line: none;
    color: #f1e2d1;
}

#menu_desplegable{
    width: 100%;
    height: 100vh;
    background-color:#f1e2d1 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;
    padding: 100px 50px;
   
    
}
#menu_desplegable h1{
    padding: 20px;
}


#menu_desplegable h1 a{
    color:#101822 ;
    font-family: LondonBetween;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 50px;
    width: 50%;

}


#menu_desplegable img{
    width: 5%;
}

#menu_responsive{
    display: none;
}

#opciones_responsive a{
    display: none;
}
#cerrar{
    display: none;
}
#abrir{
    display: none;
}
#header{
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/cabecera.png);
}

#imagen_responsive{
    display: none;
}

#header_tablet{
    display: none;
}

/*caja 2 INFORMACIÓN*/

#información{
    width: 100%;
    height: 700px;
    background-color: #101822;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.development, .graphic_desing, #caja_transparente, #caja_transparente_2 {
    width: 35%;
    height: 300px;
}


#información h3 {
    font-family: LondonBetween;
    letter-spacing: 5px;
    color: #f1e2d1;

}

#información p{
    font-family: LondonBetween;
    letter-spacing: 5px;
    color: #f1e2d1;


}

#caja_transparente img{
    width: 20%;
}


/*CAJA WE BUILD YOUR BRAND*/

#we_build{
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/we-build-your-brand.png);
    background-size: cover;
}

#responsive_webuild{
    display: none;
}

#tablet_webuild{
    display: none;
}


/*TERCERA CAJA, WE_ARE*/ 
#we_are{

    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #f1e2d1 ;
    font-family: "LondonBetween";
}

#we_are h1{
    color: #e84939;
    font-size: 60px;
}
#we_are h1, h2{
    display: none;
}

#we_are h2{
    color: #101822;
}

/*OUR TEAM*/

#our_team{
    width: 100%;
    height: 500px;
    background-color:#101822 ;
    display: flex;
    flex-direction: column;
    align-items: center;



}

#our_team h1{
    font-family: LondonBetween;
    letter-spacing: 5px;
    color: #f1e2d1;
}

#fotos_team{
    width: 80%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.foto img{
    width: 75%;
    height: 240px;
    display: flex;
    align-items: center;
}

/*footer*/

#footer{
    width: 100%;
    height: 500px;
    background-color: #f1e2d1 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: LondonBetween;
    letter-spacing: 5px;

}

#redes_sociales i{
    font-size: 30px;
    padding: 5px;
}

/*RESPONSIVE MÓVIL*/

@media screen and (max-width: 640px){

    #menu{
        display: none;
    }

    #menu_responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-color: #101822 ;
        display: none;
        opacity: 90%;
        position: absolute;
        top: 140px;
        text-align: center;
    }

    #menu_responsive h1, a {
        
        color:#f1e2d1 ;
        font-family: LondonBetween;
        text-decoration: none;
        letter-spacing: 5px;
        font-size: 40px;
        width: 100%;
    
    }
    #abrir{
        display: flex;
        width: 20%;
        font-size: 25px;
        color: #e84939;
    }

    #cerrar {
        width: 20%;
        font-size: 25px;
        color: #e84939;

        
        display: none;
       
    }
    #header_animation h1, h2{
        font-size: 20px;
    }

    #header_estatico{
        height: auto;
    }

    #header{
       
        background-image: none;
        display: flex;
        height: auto;
    }

    #header_tablet{
        display: none;
    }

    #imagen_responsive{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    #imagen_responsive img{
        width: 65%;
        padding: 35px 0px;
    }

    #información{
        display: flex;
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
     
    }

    #información_cajas{
     width: 100%;
     padding: 20px 20px;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }

    #información h3{
        width: 100%;
        text-align: center;
    }

    .development, .graphic_desing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    #caja_transparente, #caja_transparente_2{
        display: none;
    }

    #we_build{
       
        background-image: none;
        background-color: #f1e2d1;
        height: auto;
        
      
    }

    #responsive_webuild{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0px;
    }

    #responsive_webuild img{
        width: 85%;

    }

    #tablet_webuild{
        display: none;
    }
    #we_are{
        padding: 50px;
    }

    #we_are h1, h2{
        text-align: center;
    }
    #our_team{
        height: auto;
        padding: 50px 30px;
    }

    #fotos_team{
        width: 65%;
        height: auto;
        flex-direction: column;
    }

    #fotos_team .foto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .foto img{
        width: 100%;
        height: auto;
    }

    #titulo_team{
        font-size: 50px;
        font-weight: 50;
    }
     
    #footer p {
        width: 60%;
    }


}

/*RESPONSIVE TABLET*/

@media  (min-width:641px) and (max-width: 1200px){

    #menu{
        display: none;
    }
    #menu_responsive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 500px;
        background-color: #101822 ;
        display: none;
        opacity: 90%;
        position: absolute;
        top: 140px;
        text-align: center;
    }

    #menu_responsive h1, a {
        
        color:#f1e2d1 ;
        font-family: LondonBetween;
        text-decoration: none;
        letter-spacing: 5px;
        font-size: 40px;
        width: 100%;
    
    }

    #abrir{
        display: flex;
        
        width: 20%;
        font-size: 25px;
        color: #e84939;
    }

    #cerrar {
        width: 20%;
        font-size: 25px;
        color: #e84939;
        display: none;
       
    }
    #header_tablet{
        display: flex;

    }
    #header_tablet img{
        width: 100%;
    }
    #header{
        overflow: hidden;
        background-image: none;
        display: flex;
        
        height: auto;
    }
    #información{
        display: flex;
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
     
    }

    #información_cajas{
     width: 100%;
     padding: 20px 20px;
     height: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }

    #información h3{
        width: 100%;
        text-align: center;
    }

    .development, .graphic_desing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70%;
        text-align: center;
        height: auto;
    }

    #caja_transparente, #caja_transparente_2{
        display: none;
    }

    #we_build{
       
        background-image: none;
        background-color: #f1e2d1;
        height: auto;
        
      
    }

    #tablet_webuild{
        display: flex;
    }

    #tablet_webuild img{
        width: 100%;
    }



  

    #our_team{
        height: 800px;
    }

    #fotos_team{
        height: 630px;
        flex-wrap: wrap;
    }

    .foto{
        width: 50%;
    }




















}




